In [ ]:
#Pengolahan Data Beasiswa dengan Panduan Data Science
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

url = "https://docs.google.com/spreadsheets/d/1K5JHuqyqkYZJOwM_j_okOZDA0qz6Az9S/export?format=csv"
df = pd.read_csv(url)
df.head()
print(df.head())
print("--------------------------------------------------------")

df.info()
print(df.info())
print("--------------------------------------------------------")

df.describe()
print(df.describe())
print("--------------------------------------------------------")
print(df.iloc[:5])
print("--------------------------------------------------------")

df_dropna = df.dropna()
print(df_dropna)
print("--------------------------------------------------------")

df.isnull().sum()
print(df.isnull().sum())
print("--------------------------------------------------------")
df["JURUSAN"] = df["JURUSAN"].str.lower()
df["JURUSAN"].value_counts()
print(df["JURUSAN"].value_counts())
print("--------------------------------------------------------")

   NO             NAMA LENGKAP                               PTN  \
0   1  ACHMAD FARIS ARDIANSYAH  UNIVERSITAS PEMBANGUNAN NASIONAL
1   2      ACHMAD NAJIB HARIRI  UNIVERSITAS PEMBANGUNAN NASIONAL
2   3  ACHMAD NI'AM ARIL FALAH  UNIVERSITAS PEMBANGUNAN NASIONAL
3   4    ACHMAD RIZQI RAMADHAN  UNIVERSITAS PEMBANGUNAN NASIONAL
4   5        ADELA RISA ALIYAH  UNIVERSITAS PEMBANGUNAN NASIONAL

                                             JURUSAN          NIM  \
0                                    Ilmu Komunikasi  25043010033
1                                   Sistem Informasi  25082010019
2                                       Teknik Mesin  25036010102
3  Bahasa Inggris Untuk Komunikasi Bisnis Dan Pro...  24047010019
4                                          Akuntansi  24013010338

  NO REKENING BANK JATIM   ATAS NAMA SENDIRI DALAM REKENING   \
0              0016876208  Sendiri (Achmad Faris Ardiansyah)
1              0016178403               Achmad Najib Hariri
2              1876044788            ACHMAD NI'AM ARIL FALAH
3              0016178331              ACHMAD RIZQI RAMADHAN
4              0326964581                  ADELA RISA ALIYAH

             BUKTI SUDAH MASUK GRUP
0  HADIR SUDAH MASUK GRUP "UPN BARU"
1  HADIR SUDAH MASUK GRUP "UPN BARU"
2  HADIR SUDAH MASUK GRUP "UPN BARU"
3  HADIR SUDAH MASUK GRUP "UPN BARU"
4  HADIR SUDAH MASUK GRUP "UPN BARU"
--------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554 entries, 0 to 553
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NO                                 554 non-null    int64
 1   NAMA LENGKAP                       554 non-null    object
 2   PTN                                554 non-null    object
 3   JURUSAN                            553 non-null    object
 4   NIM                                554 non-null    int64
 5   NO REKENING BANK JATIM             554 non-null    object
 6   ATAS NAMA SENDIRI DALAM REKENING   554 non-null    object
 7   BUKTI SUDAH MASUK GRUP             550 non-null    object
dtypes: int64(2), object(6)
memory usage: 34.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554 entries, 0 to 553
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NO                                 554 non-null    int64
 1   NAMA LENGKAP                       554 non-null    object
 2   PTN                                554 non-null    object
 3   JURUSAN                            553 non-null    object
 4   NIM                                554 non-null    int64
 5   NO REKENING BANK JATIM             554 non-null    object
 6   ATAS NAMA SENDIRI DALAM REKENING   554 non-null    object
 7   BUKTI SUDAH MASUK GRUP             550 non-null    object
dtypes: int64(2), object(6)
memory usage: 34.8+ KB
None
--------------------------------------------------------
               NO           NIM
count  554.000000  5.540000e+02
mean   277.500000  2.443006e+10
std    160.070297  8.400431e+08
min      1.000000  2.201101e+10
25%    139.250000  2.403401e+10
50%    277.500000  2.501101e+10
75%    415.750000  2.504101e+10
max    554.000000  2.508401e+10
--------------------------------------------------------
   NO             NAMA LENGKAP                               PTN  \
0   1  ACHMAD FARIS ARDIANSYAH  UNIVERSITAS PEMBANGUNAN NASIONAL
1   2      ACHMAD NAJIB HARIRI  UNIVERSITAS PEMBANGUNAN NASIONAL
2   3  ACHMAD NI'AM ARIL FALAH  UNIVERSITAS PEMBANGUNAN NASIONAL
3   4    ACHMAD RIZQI RAMADHAN  UNIVERSITAS PEMBANGUNAN NASIONAL
4   5        ADELA RISA ALIYAH  UNIVERSITAS PEMBANGUNAN NASIONAL

                                             JURUSAN          NIM  \
0                                    Ilmu Komunikasi  25043010033
1                                   Sistem Informasi  25082010019
2                                       Teknik Mesin  25036010102
3  Bahasa Inggris Untuk Komunikasi Bisnis Dan Pro...  24047010019
4                                          Akuntansi  24013010338

  NO REKENING BANK JATIM   ATAS NAMA SENDIRI DALAM REKENING   \
0              0016876208  Sendiri (Achmad Faris Ardiansyah)
1              0016178403               Achmad Najib Hariri
2              1876044788            ACHMAD NI'AM ARIL FALAH
3              0016178331              ACHMAD RIZQI RAMADHAN
4              0326964581                  ADELA RISA ALIYAH

             BUKTI SUDAH MASUK GRUP
0  HADIR SUDAH MASUK GRUP "UPN BARU"
1  HADIR SUDAH MASUK GRUP "UPN BARU"
2  HADIR SUDAH MASUK GRUP "UPN BARU"
3  HADIR SUDAH MASUK GRUP "UPN BARU"
4  HADIR SUDAH MASUK GRUP "UPN BARU"
--------------------------------------------------------
      NO                    NAMA LENGKAP                               PTN  \
0      1         ACHMAD FARIS ARDIANSYAH  UNIVERSITAS PEMBANGUNAN NASIONAL
1      2             ACHMAD NAJIB HARIRI  UNIVERSITAS PEMBANGUNAN NASIONAL
2      3         ACHMAD NI'AM ARIL FALAH  UNIVERSITAS PEMBANGUNAN NASIONAL
3      4           ACHMAD RIZQI RAMADHAN  UNIVERSITAS PEMBANGUNAN NASIONAL
4      5               ADELA RISA ALIYAH  UNIVERSITAS PEMBANGUNAN NASIONAL
..   ...                             ...                               ...
549  550          ZAKY  FAREZA  PRASETYO  UNIVERSITAS PEMBANGUNAN NASIONAL
550  551           ZALNAFII AGHNI FAUZIA  UNIVERSITAS PEMBANGUNAN NASIONAL
551  552        ZARWANDA ISNAINI HIDAYAH  UNIVERSITAS PEMBANGUNAN NASIONAL
552  553  ZHABINA ALISYAH ISKANDAR PUTRI  UNIVERSITAS PEMBANGUNAN NASIONAL
553  554           ZUFAR SWADANA LESTARI  UNIVERSITAS PEMBANGUNAN NASIONAL

                                               JURUSAN          NIM  \
0                                      Ilmu Komunikasi  25043010033
1                                     Sistem Informasi  25082010019
2                                         Teknik Mesin  25036010102
3    Bahasa Inggris Untuk Komunikasi Bisnis Dan Pro...  24047010019
4                                            Akuntansi  24013010338
..                                                 ...          ...
549                                       Teknik Sipil  25035010055
550                                   Sistem Informasi  25082010002
551                                          Akuntansi  25013010270
552                           Desain Komunikasi Visual  25052010057
553                                          Manajemen  25012010319

    NO REKENING BANK JATIM   ATAS NAMA SENDIRI DALAM REKENING   \
0                0016876208  Sendiri (Achmad Faris Ardiansyah)
1                0016178403               Achmad Najib Hariri
2                1876044788            ACHMAD NI'AM ARIL FALAH
3                0016178331              ACHMAD RIZQI RAMADHAN
4                0326964581                  ADELA RISA ALIYAH
..                      ...                                ...
549              0326964646               ZAKY FAREZA PRASETYO
550               376600491             ZALNAFII AGHNI FAUZIA
551              0763013936          ZARWANDA ISNAINI HIDAYAH
552              0746130929     ZHABINA ALISYAH ISKANDAR PUTRI
553              1866680791              Zufar Swadana Lestari

               BUKTI SUDAH MASUK GRUP
0    HADIR SUDAH MASUK GRUP "UPN BARU"
1    HADIR SUDAH MASUK GRUP "UPN BARU"
2    HADIR SUDAH MASUK GRUP "UPN BARU"
3    HADIR SUDAH MASUK GRUP "UPN BARU"
4    HADIR SUDAH MASUK GRUP "UPN BARU"
..                                 ...
549                   sudah masuk grub
550  hadir sudah masuk grup "upn baru"
551                   sudah masuk grup
552                   sudah masuk grup
553             Hadir Sudah masuk Grup

[549 rows x 8 columns]
--------------------------------------------------------
NO                                   0
NAMA LENGKAP                         0
PTN                                  0
JURUSAN                              1
NIM                                  0
NO REKENING BANK JATIM               0
ATAS NAMA SENDIRI DALAM REKENING     0
BUKTI SUDAH MASUK GRUP               4
dtype: int64
--------------------------------------------------------
JURUSAN
akuntansi                                                 57
ekonomi pembangunan                                       55
manajemen                                                 46
administrasi publik                                       39
ilmu komunikasi                                           32
hukum                                                     30
informatika                                               28
administrasi bisnis                                       26
agribisnis                                                25
agroteknologi                                             24
sistem informasi                                          24
sains data                                                21
desain komunikasi visual                                  15
teknik sipil                                              14
teknik kimia                                              14
arsitektur                                                12
hubungan internasional                                    10
kewirausahaan                                             10
bahasa inggris untuk komunikasi bisnis dan profesional     9
pariwisata                                                 9
teknologi pangan                                           7
teknik industri                                            7
teknik mesin                                               6
desain interior                                            6
linguistik indonesia                                       6
teknik lingkungan                                          5
fisika                                                     5
bisnis digital                                             5
teknik industri                                            3
ekonomi pembangunann                                       1
agribisnis                                                 1
linguistik indonesia                                       1
Name: count, dtype: int64
--------------------------------------------------------

In [ ]:
import curses
import random
import time
import math

Text = "Selamat Tahun Baru 2026"
warna = [1,2,3,4,5,6,7]

def texttampil(stdscr, y, text):
  h , w = stdscr.getmaxyx()
  x = w//2 - len(text)//2
  stdscr.addstr(y,x,text)

def kembangapi(stdscr):
  h,w = stdscr.getmaxyx()
  y = h - 2
  peak = random.randint(h//4, h//2)
  color = random.choice(warna)
  x = random.randint(0, w - 1) # Define x here, randomly for a firework launch point

  while y > peak:
    stdscr.clear()
    stdscr.attron(curses.color_pair(color))
    stdscr.addstr(y,x,"|")
    stdscr.attroff(curses.color_pair(color))
    stdscr.refresh()
    y -= 1
    time.sleep(0.02)

  for r in range(1,8):
    stdscr.clear()
    for angle in range(0,360,20):
      rad = math.radians(angle)
      ex = int(x+r*math.cos(rad))
      ey = int(y+r*math.sin(rad))
      if 0 < ey < h and 0 <ex <w:
        stdscr.attron(curses.color_pair(random.choice(warna)))
        stdscr.addstr(ey, ex, "*")
        stdscr.attroff(curses.color_pair(random.choice(warna)))
    texttampil(stdscr, h//2, Text)
    stdscr.refresh()
    time.sleep(0.05)

def main(stdscr):
  curses.curs_set(0)
  curses.start_color()
  curses.use_default_colors()

  for i in range(1,8):
    curses.init_pair(i,i,-1)

  while True:
    kembangapi(stdscr)
curses.wrapper(main)

error: nocbreak() returned ERR